.header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 120px;
    color: #4F3F1C;
    text-align: left;
    position: block;
    margin: 20px;
  }
.sub-header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    text-align: left;
    position: block;
    margin-left: 20px;
}
.paragraph {
    font-family: "Avenir",  sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    margin: 25px;
    font-style: italic;
}
#hideme
{
    opacity:0;
} 