html, body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 2em;
    padding: 0;
    margin: 50px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
}

.portfolio-section-header {
    font-size: 2.5em;
    padding: 0;
    margin: 15px;
    margin-left: 25px;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: underline;
    width: 63%;
    float: left;
}

.header {
    font-size: 1.755em;
    padding: 7px;
    margin: 0;
    display: inline;
    font-family: 'Lexend Peta', sans-serif;
    float: left;
}
li {
    font-family: 'PT Sans', sans-serif;
}
.header a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #2d2d2d;
    list-style-type: none;
    margin: 10;
    padding: 0;
    display: block;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
}

.nav-element {
    text-decoration: none;
    padding: 5px;
    display: inline;
    float: right;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none
}

.nav-element:hover {
    background-color: #7c7c7c;
}

.active {
    text-decoration: none;
    padding: 5px;
    display: inline;
    float: right;
    color: white;
    background-color: #BB86FC;
}

.nav-element li a:hover {
    color: black;
}

a {
    color: white;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 1px;
    font-family: 'Open Sans', sans-serif;
}

.center-image {
    display: inline;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
}

.section {
    padding: 20px;
    background-color: #1f1f1f;
    margin-top: 20px;
    margin: 20px;
    float: left;
    display: inline;
    width: 92.5%;
}

.section-header {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Lexend Peta', sans-serif;
    padding-bottom: 10px;
}

.accent-header {
    background-color: #BB86FC;
    padding: 2px;
    margin-right: 5px;
    display: inline;
}

.accent-second-header {
    background-color: #7c7c7c;
    display: inline;
    padding: 2px;
    margin-right: 5px;
}
.portfolio-media {
    width: 70%;
    display: block;
    margin-bottom: 10px;
    padding: 0;
}
.portfolio-media-header {
    font-family: 'Lexend Peta', sans-serif;
    font-size: 1.25em;
}
.home-header {
    font-size: 2.5em;
    padding: 0;
    margin: 15px;
    margin-left: 25px;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: underline;
    width: 63%;
    float: left;
}