html, body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    font-size: 3.5em;
    padding: 0;
    margin: 0;
    text-align: center;   
}

.header {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.nav {
    background-color: #2d2d2d;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.nav-element {
    text-decoration: none;
    padding: 5px;
    display: inline;
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none
}

.nav-element:hover {
    background-color: #7c7c7c;
}

.active {
    text-decoration: none;
    padding: 5px;
    display: inline;
    float: left;
    color: white;
    background-color: #BB86FC;
}

.nav-element li a:hover {
    color: black;
}

p {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    margin-left: 355px;
}
