.pageHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageHeader {
  font-size: 2.5em;
  padding: 0;
  margin: 15px;
  font-family: 'Lexend Peta', sans-serif;
  text-decoration: underline;
  width: 90%;
}

@media (max-width: 768px) {
  .pageHeader {
    font-size: 1.8em;
    margin: 10px;
  }
}

