.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionContent {
  padding: 20px;
  background-color: #1f1f1f;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  min-height: 100px;
}

@media (max-width: 768px) {
  .sectionContent {
    width: 90%;
    padding: 15px;
  }
}

