.resume {
  width: 100%;
}

.sectionHeader {
  font-size: 1.5em;
  margin: 0 0 15px 0;
  font-family: 'Lexend Peta', sans-serif;
  color: white;
}

.resume p {
  font-size: 1em;
  margin-bottom: 8px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.accentPrimary {
  background-color: #BB86FC;
  padding: 4px 8px;
  margin: 15px 0 5px 0;
  display: inline-block;
  border-radius: 3px;
  font-weight: 500;
}

.accentSecondary {
  background-color: #7c7c7c;
  display: inline-block;
  padding: 4px 8px;
  margin: 5px 0;
  border-radius: 3px;
  font-weight: 500;
}

.spacer {
  height: 20px;
}

.skillsList {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.skillsList li {
  font-size: 1em;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

@media (max-width: 768px) {
  .sectionHeader {
    font-size: 1.3em;
  }

  .skillsList {
    margin-left: 20px;
  }
}

